PRODUCT_NAME = Crash Pad
PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_IDENTIFIER_PREFIX).EmbraceNG.CrashPad
WRAPPER_EXTENSION = app
COMBINE_HIDPI_IMAGES = YES
INFOPLIST_FILE = Resources/CrashPad-Info.plist
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = Source/Prefix.pch

CODE_SIGN_ENTITLEMENTS = Resources/CrashPad.entitlements
CODE_SIGN_INJECT_BASE_ENTITLEMENTS = NO

ALWAYS_SEARCH_USER_PATHS = NO
