PRODUCT_NAME = EmbraceWorker
PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_IDENTIFIER_PREFIX).EmbraceNG.EmbraceWorker
INFOPLIST_FILE = Resources/Worker-Info.plist
GCC_PRECOMPILE_PREFIX_HEADER = YES
LD_RUNPATH_SEARCH_PATHS = $(inherited) /Library/Frameworks
CODE_SIGN_ENTITLEMENTS = Resources/Worker.entitlements
ALWAYS_SEARCH_USER_PATHS = NO
