PRODUCT_NAME = $(TARGET_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_IDENTIFIER_PREFIX).EmbraceNG
WRAPPER_EXTENSION = app
COMBINE_HIDPI_IMAGES = YES
INFOPLIST_FILE = Resources/Info.plist
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = Source/Prefix.pch

LD_RUNPATH_SEARCH_PATHS = $(inherited) /Library/Frameworks
ALWAYS_SEARCH_USER_PATHS = NO
CODE_SIGN_ENTITLEMENTS = Resources/Embrace.entitlements

